In [31]:
import pandas as pd
import numpy as np 
from sklearn.decomposition import NMF
from fuzzywuzzy import process

In [32]:
R = pd.read_csv('/Users/camilocuevas/SPICED/movie_recommender/data/UserRatingTitle-withoutYear.csv', index_col=0)
R

,Toy Story (1995),Jumanji (1995),Grumpier Old Men (1995),Waiting to Exhale (1995),Father of the Bride Part II (1995),Heat (1995),Sabrina (1995),Tom and Huck (1995),Sudden Death (1995),GoldenEye (1995),...,Gintama: The Movie (2010),anohana: The Flower We Saw That Day - The Movie (2013),Silver Spoon (2014),Love Live! The School Idol Movie (2015),Jon Stewart Has Left the Building (2015),Black Butler: Book of the Atlantic (2017),No Game No Life: Zero (2017),Flint (2017),Bungo Stray Dogs: Dead Apple (2018),Andrew Dice Clay: Dice Rules (1991)
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
R.fillna(2.5, inplace=True)
R

,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II,Heat,Sabrina,Tom and Huck,Sudden Death,GoldenEye,...,Gintama: The Movie,anohana: The Flower We Saw That Day - The Movie,Silver Spoon,Love Live! The School Idol Movie,Jon Stewart Has Left the Building,Black Butler: Book of the Atlantic,No Game No Life: Zero,Flint,Bungo Stray Dogs: Dead Apple,Andrew Dice Clay: Dice Rules
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,2.5,4.0,2.5,2.5,4.0,2.5,2.5,2.5,2.5,...,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5
2,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,...,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5
3,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,...,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5
4,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,...,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5
5,4.0,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,...,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,...,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5
607,4.0,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,...,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5
608,2.5,2.0,2.0,2.5,2.5,2.5,2.5,2.5,2.5,4.0,...,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5
609,3.0,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,4.0,...,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5
610,5.0,2.5,2.5,2.5,2.5,5.0,2.5,2.5,2.5,2.5,...,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5

In [35]:
model = NMF(19)

In [36]:
model.fit(R)

NMF(n_components=19)

In [37]:
Q = pd.DataFrame(model.components_, columns=R.columns)
Q

,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II,Heat,Sabrina,Tom and Huck,Sudden Death,GoldenEye,...,Gintama: The Movie,anohana: The Flower We Saw That Day - The Movie,Silver Spoon,Love Live! The School Idol Movie,Jon Stewart Has Left the Building,Black Butler: Book of the Atlantic,No Game No Life: Zero,Flint,Bungo Stray Dogs: Dead Apple,Andrew Dice Clay: Dice Rules
0,0.375987,0.538630,0.704726,0.762550,0.741887,0.497663,0.738919,0.755668,0.788587,0.578491,...,0.770226,0.768564,0.771889,0.771889,0.770226,0.771889,0.770226,0.770226,0.770226,0.767085
1,0.510816,0.333625,0.103849,0.152675,0.207701,0.562752,0.297108,0.225652,0.119471,0.298255,...,0.211283,0.215656,0.206909,0.206909,0.211283,0.206909,0.211283,0.211283,0.211283,0.221317
2,0.736751,0.114102,0.011786,0.083767,0.008613,0.584862,0.000000,0.054595,0.052868,0.279743,...,0.048184,0.051015,0.045354,0.045354,0.048184,0.045354,0.048184,0.048184,0.048184,0.052563
3,3.245152,2.494728,1.207288,0.143064,0.962754,2.149429,1.121825,0.327882,0.154179,2.448109,...,0.032612,0.042011,0.023213,0.023213,0.032612,0.023213,0.032612,0.032612,0.032612,0.036450
4,1.612698,0.578680,0.171292,0.048868,0.164762,0.000000,0.178955,0.005637,0.018085,0.000000,...,0.045800,0.049234,0.042365,0.042365,0.045800,0.042365,0.045800,0.045800,0.045800,0.048371
5,0.749181,0.150717,0.119102,0.122512,0.021356,1.337531,0.000000,0.096875,0.004649,0.077532,...,0.088798,0.092636,0.084959,0.084959,0.088798,0.084959,0.088798,0.088798,0.088798,0.129500
6,0.078576,0.072304,0.117732,0.039546,0.011187,0.037664,0.065552,0.057176,0.034241,0.022787,...,0.039850,0.038800,0.040900,0.040900,0.039850,0.040900,0.039850,0.039850,0.039850,0.038418
7,0.076323,0.420862,0.000000,0.055209,0.051958,0.056795,0.000000,0.060429,0.024435,0.254490,...,0.052684,0.049491,0.055877,0.055877,0.052684,0.055877,0.052684,0.052684,0.052684,0.050530
8,0.258706,0.317108,0.068470,0.035748,0.036987,0.259206,0.052221,0.044200,0.039354,0.254745,...,0.039554,0.039409,0.039700,0.039700,0.039554,0.039700,0.039554,0.039554,0.039554,0.036693
9,0.247014,0.057151,0.040440,0.049634,0.072811,0.389867,0.050673,0.040108,0.063899,0.431246,...,0.035689,0.037925,0.033452,0.033452,0.035689,0.033452,0.035689,0.035689,0.035689,0.037019
10,0.135842,0.000000,0.045096,0.049752,0.046002,0.097209,0.033155,0.046535,0.044092,0.001377,...,0.047404,0.047448,0.047359,0.047359,0.047404,0.047359,0.047404,0.047404,0.047404,0.046876
11,0.031780,0.057496,0.037266,0.031733,0.000000,0.004068,0.065123,0.033394,0.032786,0.004587,...,0.035861,0.035840,0.035883,0.035883,0.035861,0.035883,0.035861,0.035861,0.035861,0.035834
12,0.166207,0.020181,0.071617,0.050306,0.089040,0.056007,0.047392,0.047936,0.058482,0.120152,...,0.050371,0.050512,0.050230,0.050230,0.050371,0.050230,0.050371,0.050371,0.050371,0.051921
13,1.022049,0.733557,0.020947,0.071401,0.000000,0.096499,0.054096,0.100337,0.031694,0.485090,...,0.077923,0.074824,0.081022,0.081022,0.077923,0.081022,0.077923,0.077923,0.077923,0.081730
14,0.000000,0.038892,0.059744,0.058469,0.057466,0.151936,0.053833,0.051429,0.038139,0.128450,...,0.049132,0.049478,0.048785,0.048785,0.049132,0.048785,0.049132,0.049132,0.049132,0.047222
15,0.703545,0.305104,0.137633,0.050174,0.000000,0.628456,0.007187,0.035480,0.011266,0.434842,...,0.049411,0.051007,0.047815,0.047815,0.049411,0.047815,0.049411,0.049411,0.049411,0.043187
16,0.127002,0.012585,0.025416,0.042091,0.036200,0.246881,0.049876,0.042554,0.033063,0.006165,...,0.038827,0.039161,0.038492,0.038492,0.038827,0.038492,0.038827,0.038827,0.038827,0.042062
17,0.000000,0.073401,0.044815,0.012597,0.008416,0.267366,0.016273,0.018177,0.011626,0.000000,...,0.013731,0.013596,0.013867,0.013867,0.013731,0.013867,0.013731,0.013731,0.013731,0.013152
18,0.176208,0.204361,0.332712,0.039148,0.159918,0.000000,0.080621,0.076530,0.056161,0.135955,...,0.044269,0.045158,0.043379,0.043379,0.044269,0.043379,0.044269,0.044269,0.044269,0.047008

In [38]:
P = pd.DataFrame(model.transform(R), index=R.index)
P

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
userId,,,,,,,,,,,,,,,,,,,
1,2.718117,0.377634,0.090630,0.018048,0.354395,0.153255,0.862217,0.153840,0.547673,0.117380,0.339820,0.000000,2.409706,0.000000,0.000000,1.350058,0.000000,0.000000,0.791723
2,3.017571,0.123773,0.138191,0.056390,0.192929,0.215672,0.309842,0.470135,0.162677,0.244410,0.129100,0.101951,0.303771,0.135599,0.046722,0.149554,0.121678,0.111460,0.355692
3,3.030232,0.170536,0.127378,0.060112,0.190607,0.092910,0.239826,0.271150,0.411934,0.378739,0.221484,0.000000,0.128030,0.104534,0.036590,0.223583,0.245152,0.103227,0.191167
4,2.842416,0.301585,0.551312,0.025818,0.552522,0.000000,0.279212,0.458469,0.009842,0.106674,1.637982,0.518652,0.370714,0.068327,0.000000,0.326487,0.047555,0.056003,0.389969
5,3.018647,0.194678,0.194391,0.222496,0.315064,0.163004,0.412072,0.174575,0.272473,0.130701,0.209488,0.164268,0.209112,0.065157,0.104740,0.100159,0.081466,0.017082,0.049737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.320371,0.000000,0.074084,0.000000,0.481232,0.000000,0.000000,0.188454,0.000000,0.000000,0.105351,5.483611,0.782796,0.611176,7.918362,0.000000,0.000000,0.766562,0.000000
607,2.998504,0.000000,0.185543,0.184630,0.236973,0.244887,0.385304,0.073752,0.402789,0.376361,0.346502,0.422772,0.000000,0.010202,0.000000,0.717281,0.204401,0.000000,0.482324
608,2.638293,0.451295,0.027828,0.000000,0.000000,0.273103,0.241716,0.000000,1.336798,3.844708,0.348127,0.009016,0.000000,0.000000,1.349543,0.000000,0.652762,0.012332,0.244735
609,3.041119,0.184255,0.165684,0.170769,0.187722,0.150478,0.242687,0.221079,0.272770,0.257594,0.070811,0.052696,0.096764,0.095155,0.116388,0.139903,0.080211,0.060852,0.237908
610,2.163216,0.000000,0.037427,0.000000,0.615379,0.000000,0.609026,0.246293,0.000000,0.829859,0.000000,0.287971,2.977201,0.839176,0.070880,0.011255,13.427869,0.000000,0.000000

In [39]:
# HERE I WILL TRY THE PICKLE THING LATER

In [40]:
flask_user_input = {
    'toy Story': '5',
    'Jumamyi': '3',
    'Grupymer Old Men': '4'
}

In [41]:
new_user_vector = pd.DataFrame([np.nan]*len(R.columns), index=R.columns).transpose()
new_user_vector

,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II,Heat,Sabrina,Tom and Huck,Sudden Death,GoldenEye,...,Gintama: The Movie,anohana: The Flower We Saw That Day - The Movie,Silver Spoon,Love Live! The School Idol Movie,Jon Stewart Has Left the Building,Black Butler: Book of the Atlantic,No Game No Life: Zero,Flint,Bungo Stray Dogs: Dead Apple,Andrew Dice Clay: Dice Rules
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
new_user_vector.columns

Index(['Toy Story', 'Jumanji', 'Grumpier Old Men', 'Waiting to Exhale',
       'Father of the Bride Part II', 'Heat', 'Sabrina', 'Tom and Huck',
       'Sudden Death', 'GoldenEye',
       ...
       'Gintama: The Movie', 'anohana: The Flower We Saw That Day - The Movie',
       'Silver Spoon', 'Love Live! The School Idol Movie',
       'Jon Stewart Has Left the Building',
       'Black Butler: Book of the Atlantic', 'No Game No Life: Zero', 'Flint',
       'Bungo Stray Dogs: Dead Apple', 'Andrew Dice Clay: Dice Rules'],
      dtype='object', length=9724)

In [43]:
# Loop to check whether user_id is there
for key, value in flask_user_input.items():
    if key in new_user_vector.columns:
        new_user_vector.loc[:, key] = float(value)
    else: 
        closest_match = process.extract(key, R.columns)[0][0]
        new_user_vector.loc[:, closest_match] = float(value)
        print(closest_match)

Toy Story
M
Up

In [44]:
new_user_vector

,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II,Heat,Sabrina,Tom and Huck,Sudden Death,GoldenEye,...,Gintama: The Movie,anohana: The Flower We Saw That Day - The Movie,Silver Spoon,Love Live! The School Idol Movie,Jon Stewart Has Left the Building,Black Butler: Book of the Atlantic,No Game No Life: Zero,Flint,Bungo Stray Dogs: Dead Apple,Andrew Dice Clay: Dice Rules
0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
#new_user_vector.loc[0, '7002']

In [46]:
# Fill in the missing values
new_user_vector_filled = new_user_vector.fillna(2.5)
new_user_vector_filled

,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II,Heat,Sabrina,Tom and Huck,Sudden Death,GoldenEye,...,Gintama: The Movie,anohana: The Flower We Saw That Day - The Movie,Silver Spoon,Love Live! The School Idol Movie,Jon Stewart Has Left the Building,Black Butler: Book of the Atlantic,No Game No Life: Zero,Flint,Bungo Stray Dogs: Dead Apple,Andrew Dice Clay: Dice Rules
0,5.0,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,...,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5

In [47]:
# Calculate the hidden profile with nmf.transform
hidden_profile = model.transform(new_user_vector_filled)
hidden_profile # user-feature_matrix of new user

array([[3.0256273 , 0.1640173 , 0.17379246, 0.07788463, 0.28467714,
        0.11339658, 0.28992412, 0.25081801, 0.28531869, 0.32781171,
        0.15002553, 0.04820143, 0.19307752, 0.11219479, 0.08970972,
        0.17146205, 0.12418466, 0.10196667, 0.22100728]])

In [48]:
# Calculate the predictions using np.dot
rating_prediction = pd.DataFrame(np.dot(hidden_profile, model.components_), columns= new_user_vector.columns)
rating_prediction

,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II,Heat,Sabrina,Tom and Huck,Sudden Death,GoldenEye,...,Gintama: The Movie,anohana: The Flower We Saw That Day - The Movie,Silver Spoon,Love Live! The School Idol Movie,Jon Stewart Has Left the Building,Black Butler: Book of the Atlantic,No Game No Life: Zero,Flint,Bungo Stray Dogs: Dead Apple,Andrew Dice Clay: Dice Rules
0,2.686952,2.515091,2.5095,2.493251,2.525187,2.461421,2.528322,2.492341,2.526769,2.526729,...,2.503039,2.501164,2.504915,2.504915,2.503039,2.504915,2.503039,2.503039,2.503039,2.500606

In [49]:
# Create a boolean mask to filter out the positions where the data was originally NaN 
bool_mask = np.isnan(new_user_vector.values[0])
bool_mask

array([False,  True,  True, ...,  True,  True,  True])

In [50]:
# Find the movies that have not yet been seen
movies_not_seen = rating_prediction.columns[bool_mask]
movies_not_seen

Index(['Jumanji', 'Grumpier Old Men', 'Waiting to Exhale',
       'Father of the Bride Part II', 'Heat', 'Sabrina', 'Tom and Huck',
       'Sudden Death', 'GoldenEye', 'American President, The',
       ...
       'Gintama: The Movie', 'anohana: The Flower We Saw That Day - The Movie',
       'Silver Spoon', 'Love Live! The School Idol Movie',
       'Jon Stewart Has Left the Building',
       'Black Butler: Book of the Atlantic', 'No Game No Life: Zero', 'Flint',
       'Bungo Stray Dogs: Dead Apple', 'Andrew Dice Clay: Dice Rules'],
      dtype='object', length=9721)

In [51]:
# Find recommendations for unseen movies
movies_not_seen_df = rating_prediction[movies_not_seen].T
movies_not_seen_df

                                           0
Jumanji                             2.515091
Grumpier Old Men                    2.509500
Waiting to Exhale                   2.493251
Father of the Bride Part II         2.525187
Heat                                2.461421
...                                      ...
Black Butler: Book of the Atlantic  2.504915
No Game No Life: Zero               2.503039
Flint                               2.503039
Bungo Stray Dogs: Dead Apple        2.503039
Andrew Dice Clay: Dice Rules        2.500606

[10459 rows x 1 columns]

In [52]:
# Get recommendations
movies_not_seen_df.sort_values(by=0, ascending=False).index[:3]

Index(['Shawshank Redemption, The', 'Forrest Gump',
       'Star Wars: Episode IV - A New Hope'],
      dtype='object')

In [53]:
# Wednesday Evening -> PRediciton is working for movies in the database
# ToDo 
* check for movies not in database
* Website
* connect model to database
* user-input-correction/ fuzzy-wuzzy-thing

SyntaxError: invalid syntax (<ipython-input-53-91fcc89c6ec8>, line 3)